@import '../../variables'
.ButtonAdd
    width: 36px
    height: 36px
    border-radius: 25px
    outline: none
    border: none
    color: $dark
    display: flex
    align-items: center
    justify-content: center
    background-color: $dark
    filter: drop-shadow(0 0 4px rgba(18,18,18,0.4))
    &:active
        outline: none
        filter: none
        background-color: $white  
        .ButtonAdd__icon
            fill: $dark
    &-activated
        background-color: $white
        filter: none
    &-small
        width: 160px
        height: 36px
    &__icon
        fill: $gray
   