@import '../../variables'
.product-card
    display: flex
    border-radius: 8px
    max-height: 104px
    background: $dark
    &__img
        width: 104px
        height: 104px
        object-fit: cover
    &__body
        width: 239px