header
    display: flex
    justify-content: space-between
    align-items: center
    height: 44px
    width: 100%
.header__title
    font-weight: 500
.headling__title
    font-size: 34px
    font-weight: bold
    margin-top: 18px