@import '../node_modules/reset-css/reset.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Metropolis','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #1E1F28;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4,p,span, div,button, a {
  font-family: 'Metropolis';
}
h1{
  font-size: 34px;
  font-weight: 600;
}
h2{
  font-size: 24px;
  font-weight: 600;
}
h3{
  font-size: 18px;
  font-weight: 500;
}
h5{
  font-size: 16px;
  font-weight: 500;
}
.h1{
  font-size: 34px;
  font-weight: bold;
}
.h2{
  font-size: 24px;
  font-weight: 600;
}
.h3{
  font-size: 18px;
  font-weight: 600;
}

.text{
  font-size: 16px;
  font-weight: 300;
}
.subheads{
  font-size: 16px;
  font-weight: 400;
}
.descriptiveItems{
  font-size: 14px;
  font-weight: 400;
}
.description{
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.15px;
}
.helperText{
  font-size: 11px;
}